<div ng-controller="instrutorController" id="lista">
  <table>
    <caption>Instrutores</caption>      
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>E-mail</th>
        <th>Já deu aula?</th>
        <th>Aula(s)</th>
        <th>Foto</th>
        <th>Editar/Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="instrutor in instrutores">
        <td>{{ instrutor.id}} {{ instrutor.nome }} {{instrutor.sobrenome}}</td>
        <td>{{ instrutor.idade }}</td>
        <td>{{ instrutor.email }}</td>
        <td>{{ instrutor.jaDeuAula ? 'Sim' : 'Não'}}</td>
        <td>
          <ul class="ul-instrutor">
            <li ng-repeat="aula in instrutor.aula | orderBy: 'nome'">{{ aula.nome }}</li>
          </ul>
        </td>

        <td>
          <img src="{{instrutor.urlFoto}}" width="50px" height="50px" alt="">
        </td>

        <td>
          <span ng-click="editar(instrutor.id)" class="editar">Editar</span> / 
          <span ng-click="excluir(instrutor.id)" class="excluir">Excluir</span>
        </td>

      </tr>  
      <tr>
        <td colspan="7"><a ng-href="#cadastro" class="btn-cadastrar">Cadastrar instrutor</a></td>
      </tr>  
    </tbody>
  </table>

  <div class="ancoras">
    <a ng-href="#!instrutores">↑ Voltar para o topo</a>
  </div>
  

<div class="cadastro" ng-style="cadastroInstrutor" id="cadastro">

  <div class="success" ng-style="hiddenSuccess">Instrutor cadastrado com sucesso <span class="ok-success" ng-click="hiddenSuccess={'display': 'hidden'}">OK</span>
  </div>

  <form name="cadastroForm" id="cadastroForm" ng-submit="submitForm(cadastroForm.$valid)" ng-model="form" novalidate>
  <fieldset>
    <legend>Dados para cadastro de instrutores</legend>
    <label class="left">Nome:</label>
    <input class="right" type="text" ng-model="instrutorNome" name="nome" ng-minlength="3" ng-maxlength="20" required  >
    <div ng-show="cadastroForm.nome.$touched">
      <div class="error" ng-show="cadastroForm.nome.$error.required">Campo obrigatório.</div>
      <div class="error" ng-show="cadastroForm.nome.$error.minlength">Mínimo 3 caracteres.</div>
      <div class="error" ng-show="cadastroForm.nome.$error.maxlength">Máximo 20 caracteres.</div>
    </div>


    <label class="left">Sobrenome:</label>
    <input class="right" type="text" ng-model="instrutorSobrenome" name="sobrenome" ng-minlength="2" ng-maxlength="30" required>
    <div ng-show="cadastroForm.sobrenome.$touched">        
      <div class="error" ng-show="cadastroForm.sobrenome.$error.required">Campo obrigatório.</div>
      <div class="error" ng-show="cadastroForm.sobrenome.$error.minlength">Mínimo 2 caracteres.</div>
      <div class="error" ng-show="cadastroForm.sobrenome.$error.maxlength">Máximo 30 caracteres.</div>
    </div>


    <label class="left">E-mail:</label>
    <input class="right" type="email" ng-model="instrutorEmail" name="email" ng-change="verificarDuplicidade(instrutor.email)" required> 
    <div ng-show="cadastroForm.email.$touched">
      <div class="error" ng-show="cadastroForm.email.$error.required">Campo obrigatório.</div>
      <div class="error" ng-show="cadastroForm.email.$error.email">Esse e-mail não é válido.</div>
      <div class="error" ng-show="cadastroForm.email.$error.duplicado">E-mail já cadastrado.</div>
    </div>


    <label class="left">Idade:</label>
    <input class="right" type="number" ng-model="instrutorIdade" name="idade" required 
         ng-change="verificarIdade(instrutorIdade)" required>          
    <div ng-show="cadastroForm.idade.$touched">
      <div class="error" ng-show="cadastroForm.idade.$error.required">Campo obrigatório.</div>
      <div class="error" ng-show="cadastroForm.idade.$error.valido">Esse valor não é válido.</div>
    </div>


    <label class="left"> Já deu aula:</label>
    <input class="right check" type="checkbox" ng-model="instrutorDeuAula">


    <label class="left">Qual aula ministra:</label>
    <select class="right option" ng-model="instrutorAula" ng-options="aula.nome for aula in listaAulas | orderBy:'nome' track by aula.nome" multiple></select>  

    <label class="left">Imagem:</label>
    <input class="right" type="text" ng-model="instrutorUrlFoto" name="instrutor.urlFoto">          

    </fieldset>

    <div class="right btns" id="cadastro">     
      <input type="submit" class=" botao" ng-click="limparForm()" value="Limpar">
      <input type="submit" class=" botao" ng-disabled="cadastroForm.$invalid" ng-click="adicionarInstrutor(instrutorID); limparForm(); hiddenSuccess={'display': 'block'}" value="Salvar">
    </div>
  </form>

  <div class="ancoras">
    <a ng-href="#!instrutores">↑ Voltar para o topo</a>
    <a ng-href="#lista">↑ Voltar para lista</a> 
  </div>

</div>