<table class="table" ng-controller="ListaInstrutorController">
  <caption>Instrutores</caption>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>E-mail</th>
      <th>Já deu aula?</th>
      <th>Aula(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="instrutor in instrutores">
      <td>{{ instrutor.nome }} {{instrutor.sobrenome}}</td>
      <td>{{ instrutor.idade }}</td>
      <td>{{ instrutor.email }}</td>
      <td>{{ instrutor.jaDeuAula ? 'Sim' : 'Não'}}</td>
      <td>
        <ul class="ul-instrutor">
          <li ng-repeat="aula in instrutor.aula | orderBy: 'nome'">{{ aula.nome }}</li>
        </ul>
      </td>
    </tr>
    
  </tbody>
</table>